@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
  opacity: 1;
}
#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}
#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
  transition: left 0.4s ease, -webkit-transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease;
  transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight 0.4s ease-out;
          animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft 0.4s ease-out;
          animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
  right: 2%;
}
.baguetteBox-button#previous-button {
  left: 2%;
}
.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}
.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  margin: 0 auto;
  top: 0;
  z-index: 20;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5;
}
.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
.menu__list li:after {
  content: "";
  width: 4px;
  height: 4px;
  background: #4d4d59;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -1px 0 0 0;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}

.menu__link {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4d59;
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4d59;
    padding: 100px 0 0 0;
    display: none;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list li {
    padding: 35px 0 0 0;
  }
  .menu__list li:nth-child(2) {
    padding: 35px 0 0 0;
  }
  .menu__list li:nth-child(2):after {
    display: block;
  }
  .menu__list li:nth-child(3) {
    padding: 35px 0 0 0;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    top: 75px;
    right: 50%;
    margin: 0px -2px 0 0;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.main-screen__bg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/main/bg.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolutes;
}

.new {
  background-color: #f7f7f7;
  padding: 120px 0;
}
@media (max-width: 900px) {
  .new {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .new {
    padding: 40px 0;
  }
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  min-height: 100%;
}
.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.667%;
          flex: 0 0 66.667%;
}

.brands__contant {
  padding: 60px 0;
  position: relative;
}
.brands__contant:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.brands__image {
  padding: 0 0 38% 0;
}
.brands__image_1 {
  background: url("../img/vintage/2.png") no-repeat;
  background-size: 100% 100%;
}
.brands__image_2 {
  background: url("../img/boriosa/2.png") no-repeat;
  background-size: 100% 100%;
}
.brands__image_3 {
  background: url("../img/retro/2.png") no-repeat;
  background-size: 100% 100%;
}

.item {
  display: block;
  height: 100%;
  position: relative;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1100px) {
  .item {
    height: 100%;
    padding: 0 0 50% 0;
    display: block;
  }
}
.item_1 {
  background: url("../img/vintage/1.png") no-repeat;
  background-size: 100% 100%;
}
.item_2 {
  background: url("../img/boriosa/1.png") no-repeat;
  background-size: 100% 100%;
}
.item_3 {
  background: url("../img/retro/1.png") no-repeat;
  background-size: 100% 100%;
}
.item_4 {
  background: url("../img/retro/3.png") no-repeat;
  background-size: 100% 100%;
}

.item__logo {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 194, 158, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.item__image {
  display: block;
  height: 100%;
}

.aod {
  background: #f7f7f7;
}

.aod_row {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 125px 0 180px 0px;
}

.aod_title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin: 35px 0 0 0;
}

.grey {
  font-weight: 300;
  color: #848789;
}

.aod_text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  text-align: center;
  margin: 35px 0 0 0;
}
.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 25px;
}

.block__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin: 0 0 25px 0;
}

.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}
.block__text_j {
  padding: 0 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}
.block__text_j:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ebebeb;
  margin: 30px auto 0;
}
@media (max-width: 767px) {
  .block__text {
    font-size: 20px;
  }
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 194, 158, 0.5);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.logo img {
  display: block;
}

.shop__body {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 535px;
}
@media (max-width: 1100px) {
  .shop__body {
    height: 400px;
  }
}
@media (max-width: 800px) {
  .shop__body {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .shop__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px;
  }
}

.shop__row_b {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop__row_1 {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.shop__column_1 {
  display: block;
  position: relative;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.shop__column_1_n1 {
  background: url("../img/foto/1.png") no-repeat;
  background-size: 100% 100%;
}
.shop__column_1_n2 {
  background: url("../img/foto/2.png") no-repeat;
  background-size: 100% 100%;
}
.shop__column_1_n3 {
  background: url("../img/foto/7.png") no-repeat;
  background-size: 100% 100%;
}
.shop__column_1_n4 {
  background: url("../img/foto/8.png") no-repeat;
  background-size: 100% 100%;
}
.shop__column_1:hover .logo {
  visibility: visible;
  opacity: 1;
}

.shop__row_2 {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.shop__row_2_n1 {
  background: url("../img/foto/3.png") no-repeat;
  background-size: 100% 100%;
}
.shop__row_2_n2 {
  background: url("../img/foto/6.png") no-repeat;
  background-size: 100% 100%;
}

.shop__row {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  display: block;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.shop__column_n1 {
  background: url("../img/foto/4.png") no-repeat;
  background-size: 100% 100%;
}
.shop__column_n2 {
  background: url("../img/foto/5.png") no-repeat;
  background-size: 100% 100%;
}

.shop__footer {
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0;
}
@media (max-width: 1100px) {
  .shop__footer {
    padding: 50px;
  }
}
@media (max-width: 500px) {
  .shop__footer {
    padding: 30px;
  }
}

.shop__footer__button {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border: 2px solid #fff;
  padding: 20px 57px;
  text-align: center;
}
@media (max-width: 1100px) {
  .shop__footer__button {
    padding: 10px 30px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .shop__footer__button {
    padding: 7px 20px;
    font-size: 12px;
  }
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 110px 0;
}
@media (max-width: 900px) {
  .email {
    padding: 70px 0;
  }
}
@media (max-width: 700px) {
  .email {
    padding: 50px 0;
  }
}

.email__title {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 38px 0 0 0;
}
@media (max-width: 700px) {
  .email__title {
    font-size: 20px;
  }
}

.email__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 0 0;
}

.email__input__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  border: 1px solid #d3d7d9;
  margin: 0 8px 0 0;
  padding: 0 0 0 10px;
  font-size: 20px;
  opacity: 0.8;
}
@media (max-width: 700px) {
  .email__input__text {
    width: 300px;
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .email__input__text {
    width: 200px;
  }
}

.email__input__button {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #64c29e;
}
.email__input__button span {
  display: block;
  padding: 20px 40px;
}
@media (max-width: 700px) {
  .email__input__button span {
    padding: 10px 20px;
  }
}
@media (max-width: 700px) {
  .email__input__button {
    font-size: 16px;
  }
  .email__input__button span {
    padding: 7px 15px;
  }
}

.footer {
  background-color: #f7f7f7;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
@media (max-width: 620px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info {
  font-size: 16px;
  line-height: 17px;
  color: #848789;
  font-size: 13.9px;
  font-style: italic;
  font-weight: 700;
}
@media (max-width: 620px) {
  .footer__info {
    text-align: center;
    margin: 0 0 20px 0;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 620px) {
  .footer__social {
    margin: 0px 0 20px 0;
  }
}

.footer__social__logo {
  margin: 0 7px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo__text {
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin: 0 8px 0 0;
}
